body{
    background-color:aliceblue;
}
h1{
    color:coral;
    margin-left: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:300%;
}
p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:150%;
}
a:link{
    color:chocolate;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color:pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color:red;
    background-color: transparent;
    text-decoration: underline;
}
a:active{
    color:yellow;
    background-color: transparent;
    text-decoration: underline;
}
img{
    width: 100%;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#333333;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111111;
}